.open_modal_button {
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    background-color: #414b52;
    margin: 10px;
    color: #fff;
    border-radius: 3px;

}

/* .modal {
    padding: 24px;
    border-radius: 4px;
    max-width: 640px;
    width: 100%;
    min-height: 320px;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
} */

 @media screen and (min-width: 320px)  {
    .modal {
            display: block;
            position: fixed;
            transform: translate(-50%, -50%);
            overflow: hidden;
            padding: 48px 20px;
            margin-top: 20px;
            width: 100%;
            max-width: 280px;
            z-index: 200;
            background-color: #fff;
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
                    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
        transform: scale(1.1);
            transition: transform 200ms ease-in-out;
                }
 }

 @media screen and (min-width: 768px) {
     .modal {

         padding: 40px 72px 40px 36px;
        margin-top: 219px;
        max-width:704px;
       
     }
 }

  @media screen and (min-width: 1024px) {
      .modal {
     
            margin-top: 150px;
          padding: 40px 12px;
        max-width: 806px;
      }
  }


  @media screen and (min-width: 768px) {
  .modal_txt {
display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  }


 @media screen and (min-width: 320px) {
.image_movie_card {
    display: block;
    width: 100%;
    margin: auto;
    border-radius: 5px;
}
 }

  @media screen and (min-width: 768px) {
      .image_movie_card {
        display: flex;
        margin-left: 0;
margin-right: 36px;
        width: 264px;
            
      }
  }

  @media screen and (min-width: 1024px) {
            .image_movie_card {
               margin-right: 16px;
                width: 375px;
    
            }
        }


.close_modal_movie_card {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.button_card_add,
.button_card_queue {
    padding: 20px;
        display: inline-block;
        text-decoration: none;
      /*   background-color: white; */
        margin: 10px;
        border: #414b52;
      /*   border-color: 4px black; */
       /*  color: #fff; */
        border-radius: 3px;
}

.button_card_add:hover,
.button_card_queue:hover,
.button_card_add:focus,
.button_card_queue:focus  {
    background-color: #FF6B01;
}
.phonesize_image_movie {
    display: block;
}


.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;

    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}



body.show-modal .backdrop {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

body.show-modal .modal {
    transform: scale(1);
}

.rates_info_card_movie {
    
          display: inline-flex;
        
}


@media screen and (min-width: 320x) {
    .rates_info_card_movie_titles{
        display: block;
        color:  #8C8C8C;
    margin-right: 40px;
}
}

.votes_number_card{
    background-color: #FF6B01;
    border-radius: 5px;
    padding: 3px;
}

.movie_title_card_modal {
    font-family: Roboto, sans-serif;
    font-weight: 600;
        font-size: 20pt;
}

.rates_info_card_movie_titles_name{
    font-size: 16px;
    color: #8C8C8C;
}